.first-main {
  background: gray;

  display: grid;
  grid-template-columns: 40% 1fr;

  .profile-main {
    background: #fff;

    .picture-list {
      display: flex;
      justify-content: center;
      margin-left: 50px;
      margin-top: 20px;

      .profile-picture {
        width: 300px;
        border-radius: 300px;
      }
    }

    .name-list {
      display: flex;
      justify-content: center;
      margin-left: 50px;

      .name {
        margin: 30px 0 0;
      }
    }

    .position-list {
      display: flex;
      justify-content: center;
      margin-left: 50px;

      .position {
        margin: 0;
        font-size: 1.2rem;
      }
    }
  }

  .about-main {
    background: #fff;

    .greetings-list {
      display: flex;

      .greetings {
        font-size: 4rem;
        margin: 0;
      }
    }

    .greetings-list-second {
      display: flex;

      .greetings-second {
        font-size: 2rem;
        margin: 0;
      }
    }

    .skills-list {
      display: flex;

      .skills-logo1 {
        border-radius: 50%;
        margin: 20px 20px 20px 0;
        width: 200px;
        transition: 0.25s ease-out;
      }

      .skills-logo1:hover {
        box-shadow: 1px 2px 20px 5px black;
        transform: scale(1.05);
      }

      .skills-logo2 {
        border-radius: 50%;
        margin: 20px 20px 20px 0;
        width: 200px;
        transition: 0.25s ease-out;
      }

      .skills-logo2:hover {
        box-shadow: 1px 2px 20px 5px black;
        transform: scale(1.05);
      }

      .skills-logo3 {
        border-radius: 50%;
        margin: 20px 20px 20px 0;
        width: 200px;
        transition: 0.25s ease-out;
      }

      .skills-logo3:hover {
        box-shadow: 1px 2px 20px 5px black;
        transform: scale(1.05);
      }
    }

    .info-list {
      display: flex;
      text-align: justify;
      margin-right: 110px;

      .info {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 450px) {
  .first-main {
    grid-template-columns: 100%;
  }
  .picture-list {
    margin-right: 50px;
  }
  .name-list {
    margin-right: 50px;
  }
  .position-list {
    margin-right: 50px;
  }
  .greetings-list {
    justify-content: center;
    align-items: center;
  }
  .greetings-list-second {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .skills-list {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .info-list {
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }

  .info {
    font-size: 1.8rem !important;
  }
}
