.footer-main {
    display: grid;
    background: #000;


    .copyright-list {
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            width: 50px;
        }
        
        .title {
            border-radius: 50px;
            color: #fff;
            font-size: 1rem;
            font-weight: 400;
            padding: 20px;
        }
    }
}