.second-main {
  background: #fff;
  display: grid;
  grid-template-columns: 40% 1fr;

  .address-main {
    margin-left: 150px;
    margin-bottom: 50px;

    .touch-list {
      display: flex;

      .greetings {
        margin: 0;
      }
    }

    .suggestion-list {
      display: flex;

      .suggestions {
        margin: 0;
      }
    }

    .contact-number-list {
      display: flex;
      margin-top: 50px;

      .contact {
        margin: 0;
      }

      .telephone-icon {
        margin: 5px 5px 5px 0;
      }
    }

    .contact-number {
      display: flex;

      .number {
        margin-left: 21px;
      }
    }

    .email-address-list {
      display: flex;
      margin-top: 50px;

      .email {
        margin: 0;
      }

      .email-icon {
        margin: 5px 5px 5px 0;
      }
    }

    .email-address {
      display: flex;

      .number {
        margin-left: 21px;
      }
    }

    .home-address-list {
      display: flex;
      margin-top: 50px;

      .home-address {
        margin: 0;
      }

      .home-address-icon {
        margin: 5px 5px 5px 0;
      }
    }

    .home-address-main {
      display: flex;

      .home-main {
        margin-left: 17px;
      }
    }

    .home-address-second {
      display: flex;

      .home-main {
        margin-left: 17px;
      }
    }
  }

  .contact-main {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 50px;
    background: #babbba;

    .contact-list {
      margin-top: 100px;
      position: relative;

      .username {
        margin-bottom: 25px;
        background-color: #babbba;
        background-size: 20px;
        padding-left: 30px;
        display: block;
        width: 500px;
        height: 50px;
      }

      .user-icon {
        float: left;
        position: absolute;
        left: 10px;
        top: 20px;
        z-index: 2;
      }

      .password {
        margin-bottom: 25px;
        background-color: #babbba;
        background-size: 20px;
        padding-left: 30px;
        display: block;
        width: 500px;
        height: 50px;
      }

      .email-icon {
        float: left;
        position: absolute;
        left: 10px;
        top: 100px;
        z-index: 2;
      }

      .message {
        margin-bottom: 25px;
        background-color: #babbba;
        background-size: 20px;
        padding: 30px 0 0 34px;
        display: block;
        width: 500px;
        height: 200px;
      }

      .submit {
        display: block;
        text-align: center;
        background-color: #080909;
        border-radius: 20px;
        color: #fff;
        width: 540px;
        padding: 10px 0;
      }

      .submit:hover {
        background-color: #424949;
      }
    }
  }
}
