a {
  text-decoration: none;
  color: #000;
}

.navbar-main {
  background: indigo;
  display: grid;
  grid-template-columns: 40% 1fr;

  .logo-main {
    background: #fff;
    display: flex;

    .title-list {
      display: flex;
      align-items: center;
      margin-left: 150px;

      .logo {
        border-radius: 50px;
        width: 80px;
      }

      .title {
        font-size: 1.5rem;
        margin: 15px;
      }
    }
  }

  .menu-main {
    background: #fff;
    display: flex;

    .menu-list {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 100px;

      .menu {
        padding: 0 25px;
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 450px) {
  .title-list {
    margin-left: 100px !important;
  }
}
